<button mat-icon-button (click)="regresar()">
    <mat-icon>arrow_back</mat-icon>
</button>

<mat-card *ngIf="usuario">
    <mat-card-header>
        <mat-card-title>
            {{ usuario.nombre }} {{ usuario.primerApellido }}
            {{ usuario.segundoApellido }}
        </mat-card-title>
        <!-- <mat-icon>more_vert</mat-icon> -->
        <button mat-flat-button color="warn" (click)="deshabilitar()">
            <span *ngIf="usuario.estado">Habilitar</span>
            <span *ngIf="!usuario.estado">Deshabilitar</span>
        </button>
        <mat-card-subtitle>
            {{ usuario.numeroDocumento }}
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <p><strong>Profesion: </strong> {{ usuario.profesion }}</p>
        <p><strong>Correo: </strong> {{ usuario.correo }}</p>
        <p><strong>Usuario: </strong> {{ usuario.username }}</p>
        <p><strong>Role: </strong> {{ usuario.role }}</p>

        <mat-list>
            <p mat-subheader>Materias</p>
            <mat-list-item *ngFor="let materia of usuario.materias">
                <mat-icon mat-list-icon>menu_book</mat-icon>
                <h4 mat-line>{{ materia.principal.nombreMateria }}</h4>
                <button mat-icon-button>
                    <mat-icon color="accent">delete</mat-icon>
                </button>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
    <mat-card-actions>
        <a
            [routerLink]="['/usuarios', usuario._id, 'editar']"
            [queryParams]="usuario"
            mat-raised-button
            style="width: 100%;"
            color="primary"
            >Editar</a
        >
    </mat-card-actions>
</mat-card>
