<mat-card class="card pointer" [routerLink]="['semestre']">
  <mat-card-header>
    <mat-card-title>Semestres</mat-card-title>
  </mat-card-header>
</mat-card>
<mat-card class="card pointer" [routerLink]="['ciclo']">
  <mat-card-header>
    <mat-card-title>Ciclos</mat-card-title>
  </mat-card-header>
</mat-card>
<mat-card class="card pointer" [routerLink]="['caracter']">
  <mat-card-header>
    <mat-card-title>Caracter academico</mat-card-title>
  </mat-card-header>
</mat-card>
<mat-card class="card pointer" [routerLink]="['componente']">
  <mat-card-header>
    <mat-card-title>Componente</mat-card-title>
  </mat-card-header>
</mat-card>