@use '~@angular/material' as mat;

@include mat.core();

$syllabus-primary: mat.define-palette(mat.$red-palette); // #b42a2a
$syllabus-accent: mat.define-palette(mat.$gray-palette);
$syllabus-warn: mat.define-palette(mat.$gray-palette, 800);

$syllabus-theme: mat.define-light-theme(
    $syllabus-primary,
    $syllabus-accent,
    $syllabus-warn
);

@include mat.all-component-themes($syllabus-theme);

:root {
    --color-primary: #{mat.get-color-from-palette($syllabus-primary)};
    --color-accent: #{mat.get-color-from-palette($syllabus-accent)};
    --color-warn: #{mat.get-color-from-palette($syllabus-warn)};
}
